#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container {
  margin-top: 32px;
}

.search-section {
  padding: 24px;
  box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
  border-radius: 8px;
  margin-top: 5vh;
  margin-bottom: 32px;
  background-color: #fff;
}

.property-section{
  box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
  border-radius: 8px;
  padding: 20px;
}

.slider-labels {
  display: flex;
  justify-content: space-between;
}

.property-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-media {
  background-color: #e0e0e0;
}

.card-content {
  flex-grow: 1;
}

.card-actions {
  padding: 16px;
}

.TypeForm {
  width: auto;
}

.Filter {
  margin-top: 20px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.Range {
  border: 1px solid #ccc;
  padding: 0px 12px 0px 12px;
  border-radius: 5px;
}

.Range:hover {
  border-color:#000;
}